
node_modules/
dist/
build/
.npm
package-lock.json

.env
.env.local
.env.*.local


.DS_Store
Thumbs.db
.AppleDouble
.LSOverride


data/
*.db
*.log
docker-volumes/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*